<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="repository">
            <directory suffix="Test.php">tests/Repository</directory>
        </testsuite>
        <testsuite name="service">
            <directory suffix="Test.php">tests/Service</directory>
        </testsuite>
        <testsuite name="feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
        <testsuite name="sync">
            <directory suffix="Test.php">tests/Sync</directory>
        </testsuite>
    </testsuites>
</phpunit>
