{
    "openapi": "3.0.0",
    "info": {
        "title": "Evydencia API",
        "description": "HTTP interface for Evydencia platform. Documentation generated with swagger-php.",
        "termsOfService": "https://evydencia.com/terms",
        "contact": {
            "name": "Evydencia Platform",
            "email": "devs@evydencia.com"
        },
        "license": {
            "name": "Proprietary",
            "url": "https://evydencia.com/license"
        },
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://api.evydencia.com/v1",
            "description": "Production cluster"
        },
        {
            "url": "https://staging-api.evydencia.com/v1",
            "description": "Staging mirror for QA and partners"
        },
        {
            "url": "http://localhost:8080/v1",
            "description": "Local sandbox via Docker or Sail"
        }
    ],
    "paths": {
        "/v1/blacklist": {
            "get": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Lista contatos bloqueados",
                "description": "Retorna a lista paginada de contatos bloqueados no CRM/WhatsApp, com suporte a filtros e cache condicional.",
                "operationId": "a044ac8741fb3b1d276c6bedb1be3caf",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página atual (>=1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Tamanho da página (1-200)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 200,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "fetch",
                        "in": "query",
                        "description": "Use 'all' para retornar todos os registros em uma única página.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca textual por nome ou WhatsApp.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenação ex.: '-created_at,name'.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Campos opcionais (ex.: fields=id,name ou fields[blacklist]=id,name).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[whatsapp]",
                        "in": "query",
                        "description": "Filtra por WhatsApp (apenas dígitos).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[name]",
                        "in": "query",
                        "description": "Filtra por nome (exato ou parcial).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[has_closed_order]",
                        "in": "query",
                        "description": "Filtra por clientes com pedido fechado.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "filter[created_at][gte]",
                        "in": "query",
                        "description": "Data inicial (YYYY-MM-DD).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "filter[created_at][lte]",
                        "in": "query",
                        "description": "Data final (YYYY-MM-DD).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "If-None-Match",
                        "in": "header",
                        "description": "Valor de ETag para cache condicional.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada",
                        "headers": {
                            "X-Total-Count": {
                                "description": "Total de registros encontrados.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "ETag": {
                                "description": "Hash da versão da lista.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistListResponse"
                                }
                            }
                        }
                    },
                    "304": {
                        "description": "Conteúdo não modificado"
                    },
                    "401": {
                        "description": "Não autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Cria um contato bloqueado",
                "operationId": "4e8533615c620fa970982dc93e6aa95c",
                "parameters": [
                    {
                        "name": "Idempotency-Key",
                        "in": "header",
                        "description": "Chave para garantir idempotência por 24h.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlacklistCreatePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registro criado",
                        "headers": {
                            "Location": {
                                "description": "URL do recurso recém-criado.",
                                "schema": {
                                    "type": "string",
                                    "format": "uri"
                                }
                            },
                            "X-Request-Id": {
                                "description": "Trace ID da requisição.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistResourceResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Registro já existia e foi retornado (idempotência)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistResourceResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflito (WhatsApp duplicado)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/blacklist/{id}": {
            "get": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Consulta um contato bloqueado",
                "operationId": "29c7468929635f062f10bc6178f7f5d6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador numérico do registro.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Registro localizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistResourceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Registro não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Identificador inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Atualiza totalmente um contato bloqueado",
                "operationId": "73c508a876a7adbbb18f090ce223ecac",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador do registro.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlacklistUpdatePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registro atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistResourceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Registro não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflito de dados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Remove um contato da blacklist",
                "operationId": "85743fd33623e60df5cd30bd0663bdd4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operação concluída",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/SuccessEnvelope"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "deleted": {
                                                            "type": "boolean",
                                                            "example": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Registro não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Identificador inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Atualiza parcialmente um contato bloqueado",
                "operationId": "8918ba4bc404d9cfdcfe31493a33fc6f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BlacklistUpdatePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registro atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistResourceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Registro não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflito de dados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/blacklist/christmas-orders/sync": {
            "post": {
                "tags": [
                    "Blacklist"
                ],
                "summary": "Sincroniza clientes com pedidos de Natal",
                "description": "Consulta o CRM Evydencia para clientes com pedido de Natal fechado e garante que estejam na blacklist local.",
                "operationId": "5c7871fd8b8c63a36674f5a8ede76b16",
                "responses": {
                    "200": {
                        "description": "Sincronização concluída",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BlacklistSyncChristmasOrdersResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Falha ao consultar o CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/campaigns/schedule/{id}/abort": {
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Aborta uma campanha agendada",
                "operationId": "c3eaa43a71a3ac38bc3c4c6e8b903b5a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador da agenda.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Campanha abortada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResourceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro no CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/campaigns/schedule": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Lista campanhas agendadas",
                "operationId": "a5c6d5540f45821fb3e653ff2fe2a036",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 200,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "fetch",
                        "in": "query",
                        "description": "Use 'all' para buscar todas as páginas.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtra por status (scheduled, running, finished).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_at",
                        "in": "query",
                        "description": "Data mínima (YYYY-MM-DD).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "finish_at",
                        "in": "query",
                        "description": "Data máxima (YYYY-MM-DD).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de agendamentos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignScheduleListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro no CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/campaigns/schedule/execute": {
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "Agenda uma nova campanha",
                "operationId": "86f110b03df21109e037c3b63aa52db5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignSchedulePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Campanha agendada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResourceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro no CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "Health"
                ],
                "summary": "Verifica disponibilidade da API",
                "description": "Retorna o status atual da API e um identificador de rastreamento.",
                "operationId": "ef102c44930733b92dd87850db3f76ed",
                "responses": {
                    "200": {
                        "description": "Serviço operacional",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/SuccessEnvelope"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "properties": {
                                                        "status": {
                                                            "type": "string",
                                                            "example": "ok"
                                                        },
                                                        "timestamp": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2025-10-03T18:20:00Z"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/v1/orders/{uuid}/label": {
            "get": {
                "tags": [
                    "Labels"
                ],
                "summary": "Gera a etiqueta do pedido",
                "operationId": "8c89dd32d2e34358b55a173058cc1f54",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Identificador do pedido no CRM.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Etiqueta gerada com sucesso",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/leads/overview": {
            "get": {
                "tags": [
                    "Leads"
                ],
                "summary": "Resumo dos leads por campanha",
                "operationId": "dc296e47fa6e759bdb94906514743f99",
                "parameters": [
                    {
                        "name": "campaign_id",
                        "in": "query",
                        "description": "Um ou mais IDs de campanha (separados por virgula).",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "416,415"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Quantidade de leads recentes a retornar (padrao 10, maximo 100).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Filtro de data inicial (lead.created_at) em ISO-8601.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "Filtro de data final (lead.created_at) em ISO-8601.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "dedupe_by",
                        "in": "query",
                        "description": "Chave usada para desduplicar leads (lead_id ou whatsapp).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "lead_id",
                            "enum": [
                                "lead_id",
                                "whatsapp"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resumo de leads gerado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResourceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro ao consultar o CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/orders/{uuid}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Obtém detalhes do pedido",
                "operationId": "826f0d40149ad318a378e26504d6c839",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Identificador do pedido no CRM.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pedido localizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResourceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pedido não encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro ao consultar CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/orders/search": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Pesquisa pedidos no CRM",
                "description": "Consulta a API do CRM com filtros, paginação e ordenação, retornando os pedidos enriquecidos com dados locais.",
                "operationId": "8723b6aa8cd98c1a76c8795d07a3ceb8",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 200,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "fetch",
                        "in": "query",
                        "description": "Use 'all' para buscar várias páginas do CRM.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenação (ex.: '-created_at,status').",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields[orders]",
                        "in": "query",
                        "description": "Projeção de campos (ex.: uuid,status,total).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Termo livre para busca textual.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order[status]",
                        "in": "query",
                        "description": "Filtra por status ex.: paid, canceled.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order[created-start]",
                        "in": "query",
                        "description": "Data inicial (YYYY-MM-DD).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order[created-end]",
                        "in": "query",
                        "description": "Data final (YYYY-MM-DD).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customer[email]",
                        "in": "query",
                        "description": "E-mail do cliente.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "email"
                        }
                    },
                    {
                        "name": "customer[whatsapp]",
                        "in": "query",
                        "description": "WhatsApp do cliente (apenas dígitos).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "product[uuid]",
                        "in": "query",
                        "description": "Produto vinculado.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pedidos encontrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro ao contatar CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/orders/{uuid}/status": {
            "put": {
                "tags": [
                    "Orders"
                ],
                "summary": "Atualiza o status do pedido no CRM",
                "operationId": "c0f9115a1e4c7f5b3130affcdf6e547f",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Identificador do pedido.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderStatusUpdatePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status atualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResourceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro ao consultar CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords/bulk": {
            "post": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Executa acoes em massa sobre senhas",
                "operationId": "e08cdd2a9e428b21df86822dfafd799e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordBulkPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Resultado da acao em massa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordBulkResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro ao processar a acao",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords/check": {
            "get": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Verifica se existe senha cadastrada para o par local/usuario",
                "operationId": "28988bd8e31c283c14454d0e97960c63",
                "parameters": [
                    {
                        "name": "local",
                        "in": "query",
                        "description": "Plataforma ou sistema",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "usuario",
                        "in": "query",
                        "description": "Usuario ou email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resultado da verificacao",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordCheckResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords": {
            "get": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Lista senhas com filtros e paginacao",
                "operationId": "a4790b3158935b0adaa437becfa4a691",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Pagina atual",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por pagina (1-200)",
                        "schema": {
                            "type": "integer",
                            "maximum": 200,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "fetch",
                        "in": "query",
                        "description": "Use 'all' para retornar todos os resultados",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca livre em usuário, local, link e descrição",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenação ex.: usuario,-updated_at",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[tipo]",
                        "in": "query",
                        "description": "Filtra por tipo de credencial",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Sistema",
                                "Rede Social",
                                "E-mail"
                            ]
                        }
                    },
                    {
                        "name": "filter[local]",
                        "in": "query",
                        "description": "Filtra por plataforma/serviço",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[verificado]",
                        "in": "query",
                        "description": "1 para verificados, 0 para não verificados",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "filter[created_at][gte]",
                        "in": "query",
                        "description": "Data de criação >= (YYYY-MM-DD)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[created_at][lte]",
                        "in": "query",
                        "description": "Data de criação <= (YYYY-MM-DD)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de senhas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Cria uma nova senha",
                "operationId": "0eab5c6c7e8a4cdd3cc13b349d52618b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordCreatePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Senha criada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordResourceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro ao criar a senha",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords/{id}": {
            "get": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Consulta detalhes completos de uma senha",
                "operationId": "1f00f8c0c406d4e6ec44aba8577bb34c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador da senha (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Senha encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordResourceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Senha nao encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Remove uma senha (soft delete)",
                "operationId": "7837048cf61507885f7b2b5cb15c95d2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador da senha",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Senha removida"
                    },
                    "404": {
                        "description": "Senha nao encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro ao excluir",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Atualiza informacoes de uma senha",
                "operationId": "380279d07d1652fed3feef078da050e4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identificador da senha",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordUpdatePayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Senha atualizada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordResourceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Senha nao encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro ao atualizar",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords/export": {
            "get": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Exporta senhas em JSON, CSV ou XLSX",
                "operationId": "3af4e04fd582a16d4c7e1593cb28798b",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Formato desejado (json, csv, xlsx)",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "csv",
                                "xlsx"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquivo gerado"
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords/platforms": {
            "get": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Lista plataformas mais utilizadas nas senhas",
                "operationId": "4a9555829889ba89f9d5b93a910fbd20",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limite maximo de plataformas",
                        "schema": {
                            "type": "integer",
                            "maximum": 200,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "min_count",
                        "in": "query",
                        "description": "Quantidade minima para aparecer na lista",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de plataformas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordPlatformsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/passwords/stats": {
            "get": {
                "tags": [
                    "Passwords"
                ],
                "summary": "Retorna estatisticas agregadas das senhas",
                "operationId": "b97181b2d10316aba5e648f2d1409110",
                "responses": {
                    "200": {
                        "description": "Dados agregados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordStatsResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parametros invalidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/reports/{key}/export": {
            "post": {
                "tags": [
                    "Reports"
                ],
                "summary": "Exporta um relatório em CSV ou JSON",
                "operationId": "fb4fb573fc0a59c55667252be237e2bd",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Identificador do relatório.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Formato desejado (csv ou json).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "csv",
                            "enum": [
                                "csv",
                                "json"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Arquivo gerado",
                        "content": {
                            "text/csv": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro no CRM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/reports": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Lista relatórios disponíveis",
                "operationId": "94ab1377b27fb6467b89f48124e82432",
                "responses": {
                    "200": {
                        "description": "Coleção de relatórios",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ReportDefinition"
                                            }
                                        },
                                        "summary": {
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "links": {
                                            "type": "object",
                                            "additionalProperties": true
                                        },
                                        "trace_id": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/reports/{key}": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Executa um relatório",
                "operationId": "8502b40468c94436300596ede355add8",
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Identificador do relatório.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 500,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenação dinâmica (ex.: '-created_at').",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "_cache_enabled",
                        "in": "query",
                        "description": "Define se o cache deve ser usado (true/false).",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Execução bem-sucedida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportRunPayload"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "Erro no CRM ou fonte externa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scheduled-posts/bulk": {
            "delete": {
                "tags": [
                    "ScheduledPosts"
                ],
                "summary": "Remove múltiplos agendamentos",
                "operationId": "4e91c92a927b22d9e3a49231fc423cc9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "Identificadores a serem removidos",
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "minimum": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Resultados da remoção",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "ScheduledPosts"
                ],
                "summary": "Atualiza múltiplos agendamentos de uma única vez",
                "operationId": "f9b8c3c0364a43378fbb2d7ffc595f6b",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "minimum": 1
                                        }
                                    },
                                    "updates": {
                                        "description": "Campos a atualizar (ex.: scheduled_datetime, caption)",
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Atualização em lote concluída",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scheduled-posts/bulk/dispatch": {
            "post": {
                "tags": [
                    "ScheduledPosts"
                ],
                "summary": "Força o disparo de posts específicos",
                "operationId": "bf88299b2cb9d0b3ea8313eac1d8a817",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "minimum": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Resultado do disparo em lote",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Parâmetros inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorEnvelope"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/scheduled-posts": {
            "get": {
                "tags": [
                    "ScheduledPosts"
                ],
                "summary": "Lista agendamentos de disparos",
                "operationId": "52ef1464b51b056817644bca91323c4d",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página atual (>=1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Itens por página (1-200)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 200,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "fetch",
                        "in": "query",
                        "description": "Use 'all' para retornar todos os itens de uma vez.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Busca por mensagem/caption.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenação ex.: 'scheduled_datetime,-id'",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Campos desejados (ex.: fields=id,type).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[type]",
                        "in": "query",
                        "description": "Filtra por tipo (text,image,video).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "text",
                                "image",
                                "video"
                            ]
                        }
                    },
                    {
                        "name": "filter[scheduled_datetime][gte]",
                        "in": "query",
                        "description": "Data inicial (YYYY-MM-DD HH:MM:SS).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[scheduled_datetime][lte]",
                        "in": "query",
                        "description": "Data final (YYYY-MM-DD HH:MM:SS).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[message_id_state]",
                        "in": "query",
[...]
